node_modules
.env
backend/.env
apps/web/.env
packages/*/.env
contracts/.env
/contracts/artifacts
/contracts/cache
/contracts/typechain-types
/frontend/.next
/frontend/out
/frontend/build
*.log
.DS_Store
backend/uploads/*
!backend/uploads/.gitkeep
*.txt
